@import '../../../variables';

.card-margins {
  margin-bottom: 10px;
}

.header-card-title {
  font-variant: small-caps;
}

.deco-running {
  color: $theme-success;
}

.deco-stopped {
  color: $theme-danger;
}

.deco-completed {
  color: $theme-primary;
}

.icon-add {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.icon-button-text {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  font-variant: small-caps;
  margin-left: 10px;
}

.row-spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.extra-margin-right {
  margin-right: 10px;
}

.btn-waiting {
  background-color: $theme-secondary;
  border-color: $theme-accent;
}
