<div class="container-fluid">
    <div class="row row-spacer">
        <div class="col text-end">
            <button class="btn btn-primary extra-margin-right" (click)="addJobClicked()">
                <i class="bi bi-node-plus icon-add"></i>
                <span class="icon-button-text">Add Job</span>
            </button>
            <button class="btn btn-primary extra-margin-right" (click)="startAllJobsClicked()">
                <i class="bi bi-collection-play icon-add"></i>
                <span class="icon-button-text">Start All</span>
            </button>
            <button class="btn btn-secondary extra-margin-right" (click)="stopAllJobsClicked()">
                <i class="bi bi-stop-btn icon-add"></i>
                <span class="icon-button-text">Stop All</span>
            </button>
        </div>
    </div>
    <div class="row row-cols-3">
        @for (job of (jobs); track job) {
            <div class="col">
                <div class="card text-center card-margins">
                    <div class="card-header">
                        {{ job.header }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <p class="card-text">{{ job.text }}</p>

                        @switch (job.status) {
                            @case (JobStatus.Starting) {
                                <button class="btn btn-success disabled" disabled="disabled">Start</button>
                            }
                            @case (JobStatus.Running) {
                                <button class="btn btn-danger" (click)="stopJobClicked(job.id)">Stop</button>
                            }
                            @case (JobStatus.Stopping) {
                                <button class="btn btn-danger disabled" disabled="disabled">Stop</button>
                            }
                            @case (JobStatus.Stopped) {
                                <button class="btn btn-success" (click)="startJobClicked(job.id)">Start</button>
                            }
                            @case (JobStatus.Completed) {
                            }
                        }
                    </div>
                    <div class="card-footer text-body-secondary">
                        <span class="header-card-title">{{ job.status }}</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
